*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html, body{
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#landingBackground{
    background-image: url("/images//background.png");
    width: 100%;
    height: 800px;
}
#landingContent{
    text-align: center;

} 
#landingContent p {
    width: 50%;
    margin:auto;
    justify-content: center;
    display: flex;
    font-size: 20px;
    color: white;
}
#landingContent h1 {
    color: white;
    font-size: 30px;

}


#landingContent span{
    color: yellow
}
#landingButtons{
    margin-block: 18px;
}

#landingButtons button {
    padding:15px;
    border-radius: 20px;
    font-size: 20px;
    color: red;
   font-weight:  bold;
   background-color: white;
   
}

/****About Section *****/

#aboutContainer{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    margin-top: 2rem;
    height: 400px;
}
#aboutContent{
    width: 50%;
    
}
#aboutContent p{
    font-size: 20px;
}
    
#picture {
    /* background-color:green; */
   /* border:4px solid blue;*/
   /* border-radius: 50%; */
   

}

/***** Project Secion *****/

#projectContainer{
    background-image: url("/images//background.png");
    width: 100%;
    height: 600px;
    padding:20px
}
#projectItemContainer{
    display: flex;
    justify-content: space-between;
}

    #projectContainer h3{
     text-align: center;
     font-size: 20px;
     padding-block: 10px;
     color: white;
    }
   
    .projectItem{
        width:400px;
        height:400;
        padding: 10px;
        background: white;

    }
    .projectItem button {
        background:black;
        border-radius: 10px;
        padding: 10px;
        color:white;
        width: 90%;
        margin-block: 10px;
        /* margin:auto */
    }
    .projectItem h2{
        text-align: center;
        padding-block: 10px;
    }

      /***** Footer Section *****/
      #ProjectForm{
        width: 600px;
      }

      #footerContainer{
        display: flex;
        justify-content: space-between;
        padding-inline: 20px;
        padding-block: 60px;
      }
      #ProjectForm ul{ 
      display: flex;
      padding-block:15px;
      margin: 0;
      justify-content: center;
    }

    #ProjectForm ul li {
        padding-inline: 10px;
        list-style-type: none;


    }

    #ProjectForm p{
        text-align: center;
    }
    #formContainer{
        background-color: black;
        padding:20px;
        width: 400px;
    }

    #formContainer  button{
        padding: 10px;
        color: blue;
        margin-block: 10px;
    }

    #formContainer  label{
        padding-inline: 20px;
    }
    #footerContainer{
        text-align: center;
        background-color: black;
        color: white;
        align-items: center;
    }
    .formInput {
        display: block
        
    }
    #formContainer input{
        padding-block: 10px;
        padding-inline: 9px;
        width:230px;
    }


@media screen and (max-width:768px) {
#landingContent p {
    width: 90%;
    font-size: 15px;
    padding-block: 10px;
}
#aboutContainer{
    display: block;
    height: auto;
}
#aboutContent {
    width: 100%;
    text-align: center;
    padding: 10px;

} 
#picture{
    /* justify-content: center;
    align-items: center;
    margin: 0; */
    width: 70%;
    margin: auto;
}
#aboutContent p3{
    background-color: black;
    color: white;
    font-size: large;
    
}
#aboutContent h4{
    background-color: white;
}

#projectItemContainer{
    display: block;
    height: auto;
    
}
#projectContainer{
    height: auto;
}

.projectItem{
  margin: 20px;
  width:320px;
}
#ProjectForm{
    width: 100%;
}

#footerContainer{
    display: block;

}
#formContainer{
    width: 100%;

}


}




